<div class="hero-background">
  <nav class="navbar-clinica">
    <div class="logo">
      <img src="assets/images/icono.ico" alt="Clínica" />
      <div class="titulo-logo">
        <h2>Clínica OnLine</h2>
        <span>Especialistas en Salud</span>
      </div>
    </div>
  </nav>

  <div *ngIf="!isRoleSelected" class="selector-contenedor">
    <h2>Selecciona tu tipo de usuario</h2>
    <div class="selector-opciones">
      <button (click)="selectRole('Paciente')" class="card-opcion">
        <img src="/assets/images/paciente.png" alt="Paciente" />
        <span>Paciente</span>
      </button>
      <button (click)="selectRole('Especialista')" class="card-opcion">
        <img src="/assets/images/equipo-medico.png" alt="Especialista" />
        <span>Especialista</span>
      </button>
    </div>
  </div>

  <div *ngIf="isRoleSelected" class="form-container">
    <h2>Registro de {{ selectedRole }}</h2>
    <form [formGroup]="selectedRole === 'Paciente' ? formPaciente : formEspecialista" (ngSubmit)="onSubmit()">

      <div class="row">
        <div>
          <label for="nombre">Nombre</label>
          <input id="nombre" formControlName="nombre" type="text" />
          <small *ngIf="nombre?.invalid && nombre?.touched">{{ mensajeError('nombre') }}</small>
        </div>
        <div>
          <label for="apellido">Apellido</label>
          <input id="apellido" formControlName="apellido" type="text" />
          <small *ngIf="apellido?.invalid && apellido?.touched">{{ mensajeError('apellido') }}</small>
        </div>
      </div>

      <div class="row">
        <div>
          <label for="edad">Edad</label>
          <input id="edad" formControlName="edad" type="number" />
          <small *ngIf="edad?.invalid && edad?.touched">{{ mensajeError('edad') }}</small>
        </div>
        <div>
          <label for="dni">DNI</label>
          <input id="dni" formControlName="dni" type="text" />
          <small *ngIf="dni?.invalid && dni?.touched">{{ mensajeError('dni') }}</small>
        </div>
      </div>

      <label for="mail">Email</label>
      <input id="mail" formControlName="mail" type="email" />
      <small *ngIf="mail?.invalid && mail?.touched">{{ mensajeError('mail') }}</small>

      <label for="password">Contraseña</label>
      <input id="password" formControlName="password" type="password" />
      <small *ngIf="password?.invalid && password?.touched">{{ mensajeError('password') }}</small>

      <div *ngIf="selectedRole === 'Paciente'">
        <label for="obraSocial">Obra Social</label>
        <input id="obraSocial" formControlName="obraSocial" type="text" />
        <small *ngIf="obraSocial?.invalid && obraSocial?.touched">{{ mensajeError('obraSocial') }}</small>

        <label for="fotoPerfil1">Foto de Perfil 1:</label>
        <input type="file" (change)="onFileChange($event, 1)" id="fotoPerfil1" />

        <label for="fotoPerfil2">Foto de Perfil 2:</label>
        <input type="file" (change)="onFileChange($event, 2)" id="fotoPerfil2" />
      </div>

      <div *ngIf="selectedRole === 'Especialista'">
        <label>Especialidades:</label>
        <div *ngFor="let especialidad of especialidades">
          <input type="checkbox" [value]="especialidad" (change)="onEspecialidadChange($event)" /> {{ especialidad }}
        </div>
        <small *ngIf="formEspecialista.get('especialidades')?.errors?.['required'] && formEspecialista.touched">
          Debe seleccionar al menos una especialidad.
        </small>

        <input type="text" #nuevaEspecialidad placeholder="Agregar nueva especialidad" />
        <button type="button" class="add-button" (click)="agregarEspecialidad(nuevaEspecialidad.value); nuevaEspecialidad.value=''">
          Agregar
        </button>

        <label for="fotoPerfil">Foto de Perfil</label>
        <input type="file" (change)="onFileChange($event, 1)" id="fotoPerfil" />
      </div>

      <div id="captcha-container"></div>
      <button type="submit" [disabled]="(selectedRole === 'Paciente' ? formPaciente.invalid : formEspecialista.invalid)">
        Registrar
      </button>
    </form>
  </div>
</div>
