<div class="admin-container">
  <!-- Navbar -->
  <nav class="navbar-clinica">
  <div class="logo">
    <img src="assets/images/icono.ico" alt="Clínica" />
    <div class="titulo-logo">
      <h2>Clínica OnLine</h2>
      <span>Especialistas en Salud</span>
    </div>
  </div>
<ul class="navbar-links">
      <li><button (click)="goTo('solicitar-turno')">Solicitar Turno</button></li>
      <li><button (click)="goTo('registro')">Registrar usuario</button></li>
       <li><button (click)="goTo('turnos')">Turnos</button></li>    
  <li><button class="logout-btn" (click)="logout()">Cerrar sesión</button></li>
</ul>
</nav>

<div class="admin-turnos-container" *ngIf="esAdmin">
  <h2>Gestión de Turnos</h2>

  <!-- Filtros -->
  <div class="filtro-unico">
    <div class="filtros-especialidad">
      <h3>Filtrar por Especialidad:</h3>
      <button *ngFor="let esp of especialidades"
              [class.selected]="filtroEspecialidad === esp"
              (click)="filtroEspecialidad = esp">
        {{ esp }}
      </button>
      <button *ngIf="filtroEspecialidad" (click)="filtroEspecialidad = null">Quitar filtro</button>
    </div>

    <div class="filtros-doctor">
      <h3>Filtrar por Especialista:</h3>
      <button *ngFor="let doc of especialistas"
              [class.selected]="filtroEspecialista === doc"
              (click)="filtroEspecialista = doc">
        {{ doc }}
      </button>
      <button *ngIf="filtroEspecialista" (click)="filtroEspecialista = null">Quitar filtro</button>
    </div>
  </div>

  <!-- Turnos -->
  <div *ngFor="let turno of turnosFiltrados()" class="turno-card {{ turno.estado }}">
    <p><strong>Especialidad:</strong> {{ turno.especialidad }}</p>
    <p><strong>Especialista:</strong> {{ turno.especialista }}</p>
    <p><strong>Paciente:</strong> {{ turno.paciente }}</p>
    <p><strong>Fecha:</strong> {{ turno.fecha }} {{ turno.hora }}</p>
    <p><strong>Estado:</strong> {{ turno.estado }}</p>

    <!-- Cancelar -->
    <div *ngIf="puedeCancelar(turno)">
      <button (click)="mostrarCancelar(turno.id)">Cancelar turno</button>
      <div *ngIf="comentarioCancelacion[turno.id] !== undefined">
        <textarea [(ngModel)]="comentarioCancelacion[turno.id]" placeholder="Motivo de cancelación"></textarea>
        <button (click)="cancelarTurno(turno.id)">Confirmar</button>
      </div>
    </div>
  </div>
</div>
